<div class="col-12 me-3"
    style="position:fixed; z-index: 999; background-color: rgb(151, 246, 156); padding-left: 24px;  padding-right: 24px;">
    <label class="my-2 myLabel">Fill and click the button to create a new contact</label>
    <div>
        <mat-form-field class="col-2">
            <mat-label>First Name</mat-label>
            <input matInput [(ngModel)]="firstName">
        </mat-form-field>
        <mat-form-field class="col-2">
            <mat-label>Last Name</mat-label>
            <input matInput [(ngModel)]="lastName">
        </mat-form-field>
        <mat-form-field class="col-2">
            <mat-label>Phone Number</mat-label>
            <input matInput [(ngModel)]="phoneNumber">
        </mat-form-field>
        <mat-form-field class="col-2">
            <mat-label>E-mail</mat-label>
            <input matInput [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field class="col-2">
            <mat-label>Address</mat-label>
            <input matInput [(ngModel)]="address">
        </mat-form-field>
        <span class="col-2 d-flex float-end">
            <button mat-stroked-button class="ms-3 w-100" color="primary" (click)="onAdd()">Create Contact</button>
        </span>
    </div>
</div>