mat-panel-title {
  flex-grow: 0;
  margin-right: 0px;
}
mat-panel-description {
  flex-grow: 0;
}
.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-grow: 0;
}
.mat-expansion-panel-spacing {
  margin-bottom: 0px;
}
mat-expansion-panel-header.mat-expanded {
  background-color: #8cd6ff;
}

mat-expansion-panel-header.mat-expanded:focus {
  background-color: #8cd6ff;
}

mat-expansion-panel-header.mat-expanded:hover {
  background-color: #57befa;
}

mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
  background-color: #57befa;
}
